<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Son of a Glitch</title>
  <link rel="icon" href="https://img.icons8.com/external-microdots-premium-microdot-graphic/64/000000/external-pixel-communication-multimedia-vol1-microdots-premium-microdot-graphic.png" type="image/x-icon">
  <link rel="stylesheet" href="../../css/index.css" />
</head>
<body>
  <div class="container">
    <p style="font-size: 2vw;">API SON OF A GLITCH</p>
    <div class="stack" style="--stacks: 3;">
      <span style="--index: 0;">Program is up and running...</span>
      <span style="--index: 1;">Program is up and running...</span>
      <span style="--index: 2;">Program is up and running...</span>
    </div>
    <span class="right">Made With ❤️ By Vayxius</span>
  </div>
</body>
</html>